# Ignore everything except these
!.github/
!.github/workflows/
!.github/workflows/*.yml
!.github/workflows/*.yaml
!*.py
!data/
!data/*
!README.md
!.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db
